temp.*
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
workspace.xml

pids
logs
results

npm-debug.log
node_modules
public/index.html
public/style.css
public/style.css.map
public/script.js